@{
    ViewData["Title"] = "Admin";
}
<button type="button" class="btn btn-primary">
    <a class="nav-link text-white" asp-controller="Admin" asp-action="AccountManagement">Account</a>
</button>
<button type="button" class="btn btn-primary">
    <a class="nav-link text-white" asp-controller="Admin" asp-action="ProductManagement">Products</a>
</button>