USE [master]
GO
/****** Object:  Database [Auction]    Script Date: 3/15/2024 12:06:38 PM ******/
CREATE DATABASE [Auction]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Auction', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Auction.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Auction_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Auction_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Auction].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Auction]
GO
/****** Object:  User [cbl]    Script Date: 3/15/2024 12:06:38 PM ******/
CREATE USER [cbl] FOR LOGIN [cbl] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/15/2024 12:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](20) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[Role] [int] NOT NULL,
	[OTP] [int] NULL,
	[OtpExpiration] [datetime] NULL,
 CONSTRAINT [PK__Account__3214EC2722848BD5] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/15/2024 12:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id_Product] [int] IDENTITY(1,1) NOT NULL,
	[Product_Name] [nvarchar](50) NOT NULL,
	[Image_url] [nvarchar](250) NOT NULL,
	[Info] [nvarchar](250) NULL,
	[Starting_Price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/15/2024 12:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id_User] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Sdt] [varchar](10) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([ID], [Username], [Email], [Password], [Role], [OTP], [OtpExpiration]) VALUES (1, N'admin1', N'admin1@gmail.com', N'admin1', 0, NULL, NULL)
INSERT [dbo].[Account] ([ID], [Username], [Email], [Password], [Role], [OTP], [OtpExpiration]) VALUES (23, N'admin2', N'224700aaa@gmail.com', N'123456', 1, 391002, CAST(N'2024-03-15T10:48:34.910' AS DateTime))
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[Account] ([ID])
GO
USE [master]
GO
